html{
    height: 100%;
}
body{
    background-image: url(img/IMG_7201.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
}
:root{
    --color-text-buttons: #315D7C;
    --color-links: #2F5D50; 
    --background-color-textboxes: rgba(234, 238, 254, 0.85);
    --accent-color-hover:#88A67D;
    --text-color: #2C2C2C;
    --navbar-height: 0px;
}
/**{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}*/
nav{
    font-size: 15pt;
    text-align: left;
    color: var(--text-color);
    height: var(--navbar-height);

    background-color: var(--background-color-textboxes);
    border: 1px solid var(--color-links);
    padding: 27px;
    margin: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
nav .logo{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
    width: 150px;
    text-align: center;
    position: relative;
}
nav li:hover{
    background-color: var(--accent-color-hover);
}
nav ul a{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.dropdown{
    height: min-content;
    width: 200px;
    background-color: var(--background-color-textboxes);

    display: none;
    flex-direction: column;

    position: absolute;
    left:0;
    top: 10px;

}
.dropdown li{
    height: 70px;
    width: 100%;
}
.dropdown li a{
    justify-content:  flex-start;
    padding-left: 30px;
    width: calc(100% - 30px);
}
nav li:hover .dropdown{
    display: flex;
}
nav input[type="checkbox"]{
    display: none;
}
.expandable_li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle_button{
    width: 30px;
    height: 23px;

    position: absolute;
    top: 25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content:  space-between;

}
.bar{
    height: 4px;
    width: 100%;
    background: var();
    border-radius: 100px;
}
/*@media(max-width: 850px){
    .toggle_button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);
        display: block;
        position: absolute;
        top: var(--navbar-height);
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0; 
    }
    .expandable_li{
        display: block;
    }
    .expandable_li label{
        padding: 30px 0;
        cursor: pointer;
        display: block;
    }
}*/
button{
    padding: 0.6 2em;
    background-color: var(--color-text-buttons);
    color: var(--text-color);
    font-size: 14pt;
    border: none;
    border-radius: 10px;
}
div h1{
    color: var(--color-text-buttons);
    width: 1500px;
    margin-top: -5px;
    margin-bottom: 20px;
}
div p{
    color: var(--text-color);
}

input[type="number"]{
    background: black;
}
button:hover{
    background-color: var(--accent-color-hover);
}
div{
    font-size: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-color-textboxes);
    border: 1px solid var(--color-text-buttons);
    padding: 20px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.flex_project{
    background-color: var(--background-color-textboxes);
    width: 180px;
    height: 190px;
    gap: 40px;
    margin-top: 10px;
    border-radius: 10px;
}